# .gitattributes
# always use Unix LF
.gitignore eol=lf
.gitattributes eol=lf
Makefile text eol=lf
#*.c text eol=lf
#*.h text eol=lf
*.mc3 text eol=lf
*.yml text eol=lf
# Git LFS - for big binary files
*.jpg filter=lfs diff=lfs merge=lfs -text
